# Python
__pycache__/
*.pyc
.venv/
.env

# Airflow
logs/
airflow.db
*.pid

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*

# dbt
dbt/target/
dbt/dbt_packages/

# OS/IDE
.DS_Store
.vscode/
.idea/
